.back {
  display: block;
  margin-top: 100px;
  margin-left: 94.25px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
}

.thumbnail {
  float: left;
  width: 174px;
  height: 130px;
  margin-right: 36px;
}

.projectInfo {
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 95px;
}
.small {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
}
.big {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  color: #333333;
}

.formContainer {
  margin-top: 103px;
  padding-left: 263px;
  padding-right: 263px;
  padding-bottom: 100px;
}
.formContainer hr {
  border: 1px solid #C8C8C8;;
  margin-bottom: 53px;
}
.formContainer h3 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
}

/* Should be Inter according to Figma design but Inter cannot be bolded strongly enough */
.formContainer h4 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  color: #333333;
}

.amountFormContainer input {
  height: 102px;
  margin-top: 24px;
}
.amountFormContainer p {
  position: relative;
  top: -70px;
  left: -35px;
  z-index: 1;
  margin-bottom: 0px;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;

  color: #333333;
}

.usdLabel {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;

  color: #333333;
}

h3.personalInfoHeader {
  margin-bottom: 59px;
}
.personalInfoContainer {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 44px;
}

.personalInfoContainer h3 {
  margin-bottom: 59px;
}

.personalInfoContainer input {
  max-width: 400px;
}

.menuContainer {
  width: 874px;
  margin-top: 35px;
  margin-bottom: 86px;
  padding-left: 31px;
  padding-right: 73px;
  padding-top: 54px;
  padding-bottom: 53px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.creditCardContainer {
  display: grid;
  grid-template-columns: 369px auto auto;
  gap: 11px;
  margin-top: 40px;
  margin-bottom: 34px;
}

.billingNameContainer {
  display: grid;
  grid-template-columns: 369px auto;
  gap: 32px;

  margin-top: 35px;
}
.billingAddressContainer {
  display: grid;
  grid-template-columns: 369px auto 179px;
  gap: 11px;

  margin-bottom: 39px;
}

.leftTriplet {
  padding-right: 0px;
}

.middleTriplet {
  padding-left: 21px;
}

.ccbutton {
  position: relative;
  z-index: 1;
  top: -74px;

  height: 40px;
}

.checkoutButton {
  width: 238px;
}

.checkoutCaption {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #888888;
}