.back {
  display: block;
  margin-top: 100px;
  margin-left: 94.25px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: black;
}

.thumbnail {
  float: left;
  width: 174px;
  height: 130px;
}

.projectInfo {
  display: block;
  width: 50%;
  margin: auto;
}
.small {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
.big {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
}