.footer {
  width: 100%;
  height: 100%;
  border-top: 100px;
  border-left: 20px;
  display: flex;
}
.title {
  color: #124095;
}
.link { 
  color: #124095;
  cursor: pointer;
}
.fourth {
  margin-top: 75px;
  float: left;
  width: 20%;
  padding: 10px;
  text-align: left;
}

.third {
  margin-top: 75px;
  float: left;
  width: 20%;
  color: #124095;
  padding: 10px;
  text-align: left;
}
.second {
  margin-top: 75px;
  float: left;
  width: 30%;
  color: #124095;
  padding: 10px;
  text-align: center;
}

.first {
  margin-top: 75px;
  margin-left: 10vw;
  float: left;
  width: 30%;
  color: #124095;
  padding: 10px;
  text-align: left;
}
.media {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.media img {
  display: block;
  margin: 15px 0;
  filter: brightness(0%);
}

.label {
  color: "black";
  margin: "auto";
  margin-left: 0;
  
}
.siteLogo {
	width: 100%;
	text-align: left;
	display: flex;
}
.siteLogo img {
	margin: 0 20px;
	margin-bottom: 8px;
	height: 40px;
}
.siteLogo p {
	display: flex;
	font-weight: 700;
	font-size: 25px;
  color: black;
}