.footer {
  width: 100%;
  height: 100%;
  border-top: 100px;
  border-left: 20px; 
  padding: 3rem;
}
.title {
  color: #124095;
  font-size: 1.3rem;
}
.link { 
  color: #124095;
  cursor: pointer;
  font-size: 1.3rem;
}
.fourth {
  margin-top: 1rem;
  padding: 10px;
  text-align: left;
}

.third {
  margin-top: 1rem;
  color: #124095;
  padding: 10px;
  text-align: left;
}
.second {
  margin-top: 1rem;
  color: #124095;
  padding: 10px;
}

.first {
  margin-top: 1rem;
  color: #124095;
  padding: 10px;
  text-align: left;
}
.media {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.media img {
  display: block;
  margin: 15px 0;
  filter: brightness(0%);
}

.label {
  color: "black";
  margin: "auto";
  margin-left: 0;
  
}
.siteLogo {
	width: 100%;
	text-align: left;
	display: flex;
}
.siteLogo img {
	margin: 0 20px;
	margin-bottom: 8px;
	height: 40px;
}
.siteLogo p {
	display: flex;
	font-weight: 700;
	font-size: 25px;
  color: black;
}

  @media (min-width : 576px) {
    .footer {
      display: flex;
    }

    .first {
      width: 30%;
    }

    .second, .third, .forth {
      float: right;
      flex: 1;
    }
  }