html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.ant-btn-primary {
	color: #048a81;
	/* &:hover {
    background-color: #048A81 !important;
    border-color: #048A81 !important;
  } */
}

a {
	color: inherit;
	text-decoration: none;
}

.Button {
	color: #048a81;
}

* {
	box-sizing: border-box;
}

.siteContent {
	margin-top: 64px;
	/* padding-top: 50px;  */
	background-color: #fafafa;
	height: calc(100vh - 64px);
	display: flex;
}

.ant-btn-default:focus {
	color: rgba(0, 0, 0, 0.85) !important;
}

/* Ant design menu overwrite */
.ant-menu-submenu-title,
.ant-menu-submenu-title:hover {
  font-size: 17px;
	color: black !important;
}
.ant-menu-submenu-arrow,
.ant-menu-submenu-arrow:hover {
	color: black !important;
}

.ant-menu-item:hover,
.ant-menu-item-active {
	color: black !important;
}
.ant-menu-sub.ant-menu-inline {
	background-color: #fff !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
	color: #048a81;
	background-color: #d4efde !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected::after {
	border-right: 3px solid #048a81;
}
