html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.global_h1 {
	font-size: 2.5rem;
	font-weight: 600;
}
.global_h4 {
	font-weight: 500;
	font-size: 1.3rem;
}
.password_reminder {
	color: #048a81c7;
}

.ant-btn-primary {
	color: #048a81;
	/* &:hover {
    background-color: #048A81 !important;
    border-color: #048A81 !important;
  } */
}

.projectowner_btn {
	color: #d4efde !important;
	background-color: #048a81 !important;
}

a {
	color: inherit;
	text-decoration: none;
}

.Button {
	color: #048a81;
}

* {
	box-sizing: border-box;
}

.siteContent {
	margin-top: 64px;
	padding-top: 50px;
	background-color: #fff;
}

.projectPageContent {
	background-color: #fafafa;
}

.tag_red,
.tag_blue {
	font-size: 14px;
	padding: 1px 8px;
	box-sizing: border-box;
	border-radius: 2px;
	text-align: center;
	width: fit-content;
}

.tag_red {
	background: #fac9b8;
	border: 1px solid #fe938c;
}

.tag_blue {
	background: #cddee9;
	border: 1px solid #9fbef2;
}

.ant-btn-default:focus {
	color: rgba(0, 0, 0, 0.85) !important;
}

/* Ant design menu Style overwrite */
.ant-menu-submenu-title,
.ant-menu-submenu-title:hover {
	font-size: 17px;
	color: black !important;
}
.ant-menu-submenu-arrow,
.ant-menu-submenu-arrow:hover {
	color: black !important;
}

.ant-menu-item:hover,
.ant-menu-item-active {
	color: #048a81 !important;
}
.ant-menu-sub.ant-menu-inline {
	background-color: #fff !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
	color: #048a81;
	background-color: #d4efde !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected::after {
	border-right: 3px solid #048a81;
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
	background-color: #d4efde !important;
	border-right: 3px solid #048a81;
	color: #048a81;
}

.ant-btn-link,
.ant-btn-link:hover,
.ant-btn-link:focus {
	color: black !important;
}
.ant-btn-primary {
	background: #048a81 !important;
	border: 1px solid #048a81 !important;
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
	border-radius: 2px;
}

.ant-typography-expand svg,
.ant-typography-edit svg,
.ant-typography-copy svg {
	color: #888888;
}
