html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ant-btn-primary {
  color: #048A81;
  /* &:hover {
    background-color: #048A81 !important;
    border-color: #048A81 !important;
  } */
}

a {
  color: inherit;
  text-decoration: none;
}

.Button {
  color: #048A81;
}

* {
  box-sizing: border-box;
}

.siteContent {
  margin-top: 64px;
  padding-top: 50px;
  background-color: white
}