.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: no-repeat center/cover;
  height: 100vh;
}

.heroContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.heroButton {
  background: rgba(212, 239, 222, 0.3);
  border: 1px solid #d4efde;
  margin-left: 10px;
  color: white;
}

.financials {
  height: auto;
  padding-top: 100px;
}

.financials h2 {
  max-width : none !important;
  width: 80%;
}

.title {
  display: inline-block;
}
.title h1 {
  color: white;
  max-width: 400px;
}
.title h2 {
  margin: 0;
  color: white;
  max-width: 552px;
}
.title div {
  margin-top: 16px;
}
.title div p {
  display: inline;
  color: #c8c8c8;
}

.media {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.media img {
  display: block;
  margin: 15px 0;
}

@media (max-width : 767px) {
  .heroContainer {
    display: block;
  }

  .title h2 {
    width: 100% !important;
    text-align: justify;
  }

  .media {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 50px 0;
  }

  .media a img {
    transform: scale(2);
  }
}

