.logo {
  max-width: 20px;
}

.arrowBtn {
  font-size: 24px;
  transition: 0.2s;
  margin-top: 50px;
}
.arrowBtn span {
  margin-left: 1rem;
}

.arrowBtn:hover {
  transform: scale(1.05);
}

.media img {
  width: 16px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../public/home_img/hero.png) no-repeat center/cover;
  height: 100vh;
}

.projectHero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../public/home_img/projectHero.png) no-repeat center/cover;
  height: 100vh;
}

.heroContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.title {
  display: inline-block;
}
.title h1 {
  color: white;
  max-width: 400px;
}
.title h2 {
  margin: 0;
  color: white;
  max-width: 552px;
}
.title div {
  margin-top: 16px;
}
.title div p {
  display: inline;
  color: #c8c8c8;
}

.media {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.media img {
  display: block;
  margin: 15px 0;
}

.heroButton {
  background: rgba(212, 239, 222, 0.3);
  border: 1px solid #d4efde;
  margin-left: 10px;
  color: white;
}

.plain {
  text-align: center;
}
.plain > div:last-child {
  background-color: #124095;
  width: 118px;
  text-align: center;
  color: white;
}
.plain > p {
  width: 60%;
  margin-bottom: 50px;
}

.plainIcons {
  margin: 80px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.plainIcons div {
  flex: 1;
  text-align: center;
}
.plainIcons div img {
  display: block;
  margin: auto;
}

.about {
  background: url(../public/home_img/about.png) center/cover no-repeat;
  text-align: center;
}
.about h1 {
  color: white;
}
.about p {
  width: 45%;
  font-size: 24px;
  margin: 80px 0;
  color: white;
}
.about > div:last-child {
  background-color: #048a81;
  width: 118px;
  color: white;
}

.emphasis {
  padding: 100px 20px;
}
.emphasis h1 {
  text-align: center;
  margin-bottom: 100px;
}
.emphasis h2 {
  color: #c8c8c8;
}
.emphasis .emphasisCard {
  display: flex;
  margin: 20px auto;
  border-radius: 8px;
  width: 75%;
  background-color: #f5f5f5;
}
.emphasis .emphasisCard img {
  width: 33.3%;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}
.emphasis .emphasisCard div {
  padding: 20px;
}

.portal {
  padding: 100px 20px;
  background: url(../public/home_img/portal.png) center/cover no-repeat;
}
.portal h1,
.portal h2,
.portal h3,
.portal p {
  color: white;
}
.portal > h1,
.portal > h2 {
  text-align: center;
}
.portal > h2 {
  margin: 20px 0 70px 0;
  width: 70%;
  color: #f5f5f5;
}
.portal .portalCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 80%;
}
.portal .portalCard img {
  width: 40%;
}
.portal .portalCard div {
  width: 50%;
}
.portal .portalCard div > p:first-child {
  color: #9fbef2;
}
/* each page has another class in its own css for the header (e.g. podcastHeader) */
.headerContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.postInfoList {
  padding-top: 100px;
  padding-bottom: 100px;
}
.postInfoList h1 {
  text-align: center;
}
.episodeDescription {
  background: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
  padding: 40px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  position: static;
  width: 880px;
  height: 278px;
}
.episodeDescription h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 12px;
}
.episodeDescription p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  margin-top: 7px;
  margin-left: 0;
  display: inline-block;
}
.episodeDescription h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #888888;
}
.newsPostContainer {
  background: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
  padding: 40px;
  margin-top: 32px;
  margin-left: 165px;
  position: static;
  width: 880px;
  height: 278px;
}
.newsPostContainer h3 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 12px;
}
.newsPostContainer p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  margin-top: 7px;
  margin-left: 0;
  display: inline;
}
.newsPostContainer h5 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #888888;
}

.blog .blogCardContainer {
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
}
.blog .blogCardContainer div {
  margin: 30px 0;
  width: 326px;
  height: 442px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(200, 200, 200, 0.25);
  border-radius: 8px;
}
.blog :global(.btn) img {
  filter: invert(1);
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #048a81;
  border-color: #048a81;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .plain > p {
    width: 100%;
  }

  .plainIcons {
    flex-wrap: wrap;
  }
  .plainIcons h3 {
    font-size: 16px;
  }
  .plainIcons div {
    flex: 0 0 33%;
  }

  .about p {
    width: 90%;
    font-size: 18px;
  }

  .emphasis .emphasisCard {
    width: 100%;
    display: block;
    padding: 1.5rem 0;
  }
  .emphasis .emphasisCard img {
    width: 60%;
    display: block;
    border-radius: 50%;
    margin: auto;
  }

  .portal {
    width: 100%;
  }
  .portal > h2 {
    width: 100%;
  }
  .portal .portalCard {
    margin-bottom: 0;
    display: block;
    width: 100%;
  }
  .portal .portalCard div {
    width: 100%;
  }
  .portal .portalCard img {
    width: 100%;
    margin: 50px 0;
    border-radius: 8px;
  }

  .podcast .podcastContainer {
    width: 100%;
    padding-top: 56.25%;
  }
}

/*# sourceMappingURL=Home.module.css.map */
