.appHeader {
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 8px #bdbdbd;
    z-index: 10;
    padding: 0;
    background-color: white;
}

.app-menu {
    float: right;
}

.app-menu > li {
    padding: 0 20px;
}

.app-menu > li > a {
    padding: 0 20px;
    margin: 0 -20px;
}

.app-menu > li > a > i {
    margin-right: 0 !important;
}

.siteMenu {
    float: right;
    border-bottom: none;
    background: none;
}

.signinButton {
    color: #048A81; 
}

@media (max-width: 768px) {

    .app-menu > li {
        padding: 0 15px;
    }

    .app-menu > li > a {
        padding: 0 15px;
        margin: 0 -15px;
    }
}