.projectCard {
	width: 800px;
	height: 220px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
	padding: 5px 20px;
	display: flex;
	align-items: center;
    margin: 25px 30px;
}

.cardContent {
	margin-left: 10px;
	height: 180px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.tag_red,
.tag_blue {
	font-size: 14px;
	padding: 1px 8px;
	box-sizing: border-box;
	border-radius: 2px;
	text-align: center;
    width: fit-content;
}

.tag_red {
	background: #fac9b8;
	border: 1px solid #fe938c;
}

.tag_blue {
	background: #CDDEE9;
	border: 1px solid #9fbef2;
}

.labels {
	width: 500px;
	display: flex;
    align-items: center;
	justify-content: space-between;
	font-size: 12px;
	color: #888;
	/* margin-top: 10px; */
}


.progressBar{
	margin-bottom: 10px;
}

.cardContent__info{
	width: 450px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}


.smallFont{
	font-size: 12px;
}

