
.col {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: left;
	/*background-color: #9fbef2;*/
}


.row {
	width: auto;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px 20px;
	margin: 25px 30px;

	/*background-color: #048A81;*/
}
.projectPage {
	width: 1000px;
	padding: 5px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
    margin: 25px 30px;
	/*background-color: #048A81;*/
}

.cardContent {
	margin-left: 20px;
	width: 300px;
	height: 400px;
	display: flex;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
	padding: 5px 20px;
	flex-direction: column;
	justify-content: space-evenly;
	/*margin: 25px 30px;*/
}

.tag_red,
.tag_blue {
	font-size: 14px;
	padding: 1px 8px;
	box-sizing: border-box;
	border-radius: 2px;
	text-align: center;
    width: fit-content;
}

.tag_red {
	background: #fac9b8;
	border: 1px solid #fe938c;
}

.tag_blue {
	background: #CDDEE9;
	border: 1px solid #9fbef2;
}

.labels {
	width: 500px;
	display: flex;
    align-items: center;
	justify-content: space-between;
	font-size: 12px;
	color: #888;
	/* margin-top: 10px; */
}


.progressBar{
	margin-bottom: 10px;
}

.cardContent__info{
	/*width: 450px;*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.title__info{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	/*background-color: #9fbef2;*/
}

.smallFont{
	font-size: 12px;
}

.Button {
	background-color: #048A81;
}
.projectUpdates {
	width: 96%;
	height: 220px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
	padding: 5px 20px;
	display: flex;
	align-items: center;
	margin: 25px 30px;
}