.projectTabs {
	margin-top: 20px;
	margin-left: 25px;
}

.tabbutton,
.tabbuttonSelected {
	padding: 2px;
	margin-right: 50px;
	font-size: 14px;
	color: black;
}

.tabbuttonSelected {
	border-bottom: 3px solid #124095;
	font-weight: bold;
}
.tabbutton:hover {
	color: black;
	border-bottom: 3px solid #124095;
}
