.projectTabs {
	margin-top: 20px;
	margin-left: 20px;
}

.button1,
.button2,
.button3 {
    padding: 2px;
    margin-right: 15px;
	font-size: 14px;
	color: black;
}

.button1 {
	margin-left: 15px;
	border-bottom: 3px solid #048a81;
	font-weight: bold;
}
.button1:hover,
.button2:hover,
.button3:hover {
	color: black;
	border-bottom: 3px solid #048a81;
}
